<h1>Annual deduction form</h1>
 
  <form (submit)="calculate()">
    <h2>Annual income</h2>
    <label for="annual-income">Annual income:</label>
    <input type="number" id="annual-income" name="annualIncome" [(ngModel)]="annualIncome" placeholder="Annual income"> 
    <h2>Personal plan</h2>
    <label for="personal-plan">Personal pension plan:</label>
    <input type="number" id="personal-plan" name="personalPlan" [(ngModel)]="personalPlan" min="0" max="1500" placeholder="Euros">

    <h2>Company pension plan</h2>
    <label for="company-plan">Company pension plan:</label>
    <input type="number" id="company-plan" name="businessPlan" [(ngModel)]="businessPlan" min="0" max="8500" placeholder="Euros">

    <br><br>
    <button type="submit">Calculate</button>
    <br>
    <p>You can deduct: {{ result }}</p>
  </form>